.signInCon {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.signIn {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    padding: 15px;
}

.signIn h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #355070;
}

.signIn .inputCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f1f5fa;
    height: fit-content;
    border-radius: 30px;
    margin-bottom: 20px;
}

.inputCon .MuiSvgIcon-root {
    color: gray;
    margin: 0 15px;
}

.signIn input {
    padding: 13px 10px;
    border: none;
    font-size: 16px;
    font-family: montserrat;
    background-color: transparent;
    flex: 1;
    outline: none;
    border-left: 1px solid lightgray;
}

.signIn > button {
    background-color: #e56b6f;
    color: white;
    border: none; 
    font-family: montserrat;
    font-weight: bold;
    padding: 13px 15px;
    border-radius: 30px;
    font-size: 17px;
    outline: none;
    width: 100%;
}

.remember {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
}

.remember .MuiCheckbox-root {
    color: #b56576;
}

@media(min-width: 600px) {
    .signIn {
        width: 400px;
    }
}