.navbarCon {
    padding: 1px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 15px #cccccc;
    background-color: white;
}

.navbar {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: #355070;
    text-decoration: none;
}

.navbar__option {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #e56b6f;
    padding: 7px 15px;
    border-radius: 5px;
}