body {
  margin: 0;
  font-family: montserrat;
  background-color: white;
}

.container {
  margin: 0 5%;
}

@font-face {
  font-family: montserrat;
  src: url('./fonts/Montserrat-Regular.ttf');
}

@media(min-width: 600px) {
  .container {
    margin: 0 17%;
  }
}